* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}


.header {
    padding: 30px 10px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 50px;
}

.header__logo svg {
    height: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu-item {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #5C5C5C;
    text-decoration: none;
    cursor: pointer;
}

.header__menu-item:hover {
    opacity: .7;
}

.banner {
    margin-top: 50px;
}

.banner .container {
    display: flex;
    gap: 120px;
}

.banner__graphics {
    position: relative;
    width: 50%;
    max-width: 465px;
    flex-grow: 1;
}

.banner__graphics-image-big {
    position: relative;
    width: 100%;
    padding-left: 66px;
    z-index: 2;
}

.banner__graphics-image-big img {
    max-width: 100%;
}

.banner__graphics-image-small {
    position: absolute;
    width: 270px;
    bottom: 0;
    z-index: 1;
}

.banner__graphics-image-small img {
    max-width: 100%;
}

.banner__form {
    width: 50%;
    flex: 1 1 auto;
}

.banner__form-question {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #5C5C5C;
    margin-bottom: 10px;
}

.banner__form-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #1B1B1B;
    margin-bottom: 10px;
}

.banner__form-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner__form-field {
    width: 100%;
}

.banner__form-field-addons {
    margin-left: 30px;
    margin-top: 10px;
}

.banner__form-action {
    margin-top: 30px;
    margin-left: 10px;
}

/*STYLES FOR INPUT COMPONENT*/
.form-input {
    width: 100%;
}

.form-input__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #5C5C5C;
    margin-bottom: 8px;
}

.form-input__el {
    background: #F1F3F6;
    padding: 18px 36px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #5C5C5C;
}


/*STYLES FOR CHECKBOX COMPONENT*/

.form-checkbox {
    display: flex;
}

.form-checkbox__el {
    display: none;
}

.form-checkbox__label {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.form-checkbox__label-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #0C111A;
    border-radius: 5px;
    transition: background-color .2s linear;
}

.form-checkbox__label-box-mark {
    display: flex;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: opacity .2s linear;
}

.form-checkbox__label-box-mark svg {
    width: 100%;
    height: 100%;
}

.form-checkbox__el:checked + .form-checkbox__label-box {
    background-color: #0C111A;
}

.form-checkbox__el:checked + .form-checkbox__label-box > .form-checkbox__label-box-mark {
    opacity: 1;
}


/*STYLES FOR PRIMARY BUTTON*/
.primary-button {
    padding: 16px 50px;
    background: #0C111A;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    outline: none;
    border: none;
}